// fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Sono:wght@200;400;500&display=swap');
// external scss files
@import './components/CurriculumVitae/CurriculumVitae.scss';
@import './components/TitleSection/TitleSection.scss';

:root {
    --dark-olive: #556b2f;
    --light-olive: #1a4e18;
    --dark-orange: #a7321c;
    --light-orange: #c94a42;
    --charcoal-gray: #333333;
    --dark-gray: #666666;
    --light-gray: #cccccc; 
    --la-oswalditta: 'Oswald', sans-serif;
    --flaquitta: 200;
    --medio-flaquitta: 300;
    --medio-gorditta: 500;
    --gorditta: 600;
    --la-classuda: 'Sono', sans-serif;
    --finitta: 200;
    --finitta-skinny: 400;
    --finitta-strong: 500; 
}

body{
    background-color: var(--light-gray);
}

.main-layout{
    display: flex;
    justify-content: center;
    height: auto;
}