
.title-section{
    padding-right: 7rem;
    padding-top: 7rem;
    
    h1{
        font-family: var(--la-classuda);
        font-weight: var(--finitta);
        font-size: 120px;
        margin: 0;
    }
}